.container {
  flex-grow: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 15vh;
  margin: 0;
  .title {
    margin: 0;
  }
}
.circular-progress {
  z-index: 999;
  top: 45vh;
  left: 45vw;
  justify-self: center;
  align-self: center;
  position: fixed;
}
