@import "./themes/colors.scss";
@import "./themes/fonts.scss";
@import "./themes/size.scss";
.container {
  flex-grow: 1;
  padding-left: 15vw;
  padding-right: 10vw;
  padding-top: 15vh;
  margin: 0;
  .title {
    margin: 0;
  }
}
.card-dashboard  {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .card-content{
display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
.circular-progress {
  z-index: 999;
  top: 45vh;
  left: 45vw;
  justify-self: center;
  align-self: center;
  position: fixed;
}
.pagination {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  .paging {
    display: flex;
    flex-direction: row;
    box-shadow: 0px vw(2) vw(4) rgba(0, 0, 0, 0.161);
    .page-active {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(45.99);
      min-width: vw(45.99);
      height: vw(35.3);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Gotham-Regular";
      background-color: #e0e1e2;
      font-size: vw(13);
      line-height: vw(16);
      border-radius: 0;
      cursor: pointer;
    }
    .page-inactive {
      width: vw(45.99);
      min-width: vw(45.99);
      height: vw(35.3);
      width: vw(45.99);
      min-width: vw(45.99);
      height: vw(35.3);
      background-color: white;
      display: flex;
      align-items: center;
      font-family: "Gotham-Regular";
      justify-content: center;
      font-size: vw(13);
      line-height: vw(16);
      border-radius: 0;
      cursor: pointer;
    }
    .page-inactive:hover {
      background-color:#e0e1e2;
      cursor: pointer;
    }
    .next-page {
      width: vw(45.99);
      min-width: vw(45.99);
      height: vw(35.3);
      width: vw(45.99);
      min-width: vw(45.99);
      height: vw(35.3);
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      cursor: pointer;
      .arrow-icon {
        font-size: vw(24);
      }
    }
    .next-page:hover {
      background-color: #e0e1e2;
      cursor: pointer;
    }
  }
}
.filters-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
  // justify-content: space-between;
  .dropdowns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0 !important;
    padding-left: 2vw;
    .dropdown-container {
      margin-left: vw(27.78);
      
    }
    .search-container {
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      margin-left: 4vw;
    }
    .dropdown-container:first-child {
      margin-left: 0;
    }
  }
}

.modal-container{
  background: white;
  width: 360px;
  margin:0;
  z-index:1001;
  font-family: lato;
  .modal-header{
    display: block;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: lato;
    text-align: center;
  }
  .modal-content{
    width: 100%;
    font-family: lato;
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
  }
  .modal-action{
    font-size: 1rem;
    display: flex;
    padding: 15px;
    justify-content: flex-end;
      .button-action{
        width: 45px;
        height: 30px;
        margin-right: 10px;
      }
  }
}

@media (min-width:600px) and (max-width:1025px) {
  .container {
    padding-left: 30vw;
    padding-right: 10vw;
    padding-top: 10vh;
    margin: 0;
    
  }
}